*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#bg-image{
        background-image: url('../img/moving\ 1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
}

